<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
  </head>
  <body>
    <!--Navbar utilizando as classes do bootstrap com um título para a página, fundo preto, texto azul-->
    <nav class="navbar navbar-light bg-dark">
      <span class="navbar-brand mb-0 h1 text-primary">Lista de Alunos </span>
    </nav>
    <div>
      <table class="table table-striped text-primary">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">RU</th>
            <th scope="col">Nome do Curso</th>
            <th scope="col">Nascimento</th>
          </tr>
        </thead>
        <tbody>
          <!--Funcao ngFor do Angular onde ele executa um loop for recuperando dados de uma lista-->
          <tr *ngFor="let aluno of lista_alunos">
            <td>{{aluno.nome}}</td>
            <td>{{aluno.ru}}</td>
            <td>{{aluno.nomeCurso}}</td>
            <td>{{aluno.aniversario}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>